body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}
h1 {     
    color: teal;
    margin-bottom: 5px;    
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
}
.right {
    text-align: right;
}